; Configuration file for authl

[Discord]
;Your bot token from the Discord Developer Portal
token=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz12345678

[SAForums]
; Your SA UserID
bbuserid = 27691
; Your hashed SA password (observe request to https://forums.somethingawful.com/ in chrome/firefox developer console to get this)
bbpassword = deadbeeffeedface420694206931337
; SessionID (observe request in chrome/firefox developer console to get this)
sessionid = 123456789
; Session Hash (observe request in chrome/firefox developer console to get this)
sessionhash = feedface42069deadbeef4206931337